*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::selection{
    background-color: rgba(255, 100, 0, 1);
}
body{
    background-color: rgb(40, 40, 40);
    color: white;
}
header{
    background-color: black;
}
aside{
    background-color: rgb(30, 30, 30);
}
.asideItem{
    background-color: rgba(255, 255, 255, 0.07);
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.asideItem:hover{
    background-color: rgba(0, 0, 0, 0.17);
}
.asideItem img{
    filter: invert();
}
.asideItem h3{
    color: white;
}

@media only screen and (min-width: 0)
{
    body{
        display: grid;
        grid-template: min(6vw, 12vh) 1fr / 1fr;
        height: 100vh;
    }
    header{
        grid-area: 1/1/1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: min(1.5vw, 3vh);
    }
    main{
        grid-area: 2/1/2/1;
        display: grid;
        grid-template: 1fr / min(20vw, 40vh) 1fr;
    }
    aside{
        grid-area: 1/1/1/1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .asideItem{
        display: flex;
        align-items: center;
        width: 90%;
        margin-top: 5%;
        padding: 1.5%;
        border-radius: min(0.4vw, 0.8vh);
    }
    .asideItem img{
        width: min(4vw, 8vh);
    }
    .asideItem h3{
        font-size: min(1.3vw, 2.6vh);
    }
    article{
        grid-area: 1/2/1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
    .load{
        background-color: rgb(40, 40, 40);
        width: 100%;
        height: 100%;
    }
}